config VIDEO_MEDIATEK_ISP_PASS1
	tristate "Mediatek ISP Pass 1 driver"
	depends on VIDEO_V4L2
	depends on ARCH_MEDIATEK
	select V4L2_FWNODE
	select VIDEO_V4L2_SUBDEV_API
	select VIDEOBUF2_VMALLOC
	select VIDEOBUF2_DMA_CONTIG
	select MTK_SCP
	default n
	help
		Pass 1 driver controls 3A (auto-focus, exposure,
		and white balance) with tuning feature and outputs
		the captured image buffers in Mediatek's camera system.

		Choose y if you want to use Mediatek SoCs to create image
		captured application such as video recording and still image
		capturing.
